/* Main Page Styles */
.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 2rem;
}

.main-content {
  text-align: center;
  max-width: 600px;
}

.description p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 400; /* Normal weight */
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700; /* Bold weight */
}

code {
  font-family: "Courier New", monospace; /* Keep code styles monospace */
}
.profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.description p {
  margin: 1rem 0;
  line-height: 1.6;
  font-size: 1.1rem;
}

.social-icons {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.social-icons a {
  color: #0073e6; /* A nice blue color */
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #ff4500; /* A vibrant orange color for hover */
}

/* Responsive Main Page */
@media screen and (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }

  .profile-photo {
    width: 250px;
    height: 250px; /* Smaller photo for tablets and smaller devices */
  }

  .description p {
    font-size: 1rem;
  }

  .social-icons {
    gap: 1rem;
  }

  .social-icons a {
    font-size: 1.3rem; /* Slightly smaller icons for tablets */
  }
}

@media screen and (max-width: 480px) {
  .profile-photo {
    width: 200px;
    height: 200px; /* Smaller photo for mobile */
  }

  .description p {
    font-size: 0.9rem; /* Smaller text for mobile */
  }

  .social-icons a {
    font-size: 1.2rem;
  }
}
